*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
  width: 900px;
  margin: 0 auto;
      
}

header{
    height: 70px;
    width: 70;
    background-color: orange;
    margin-bottom: 20px;
}
.text{
    height: 300px;
    width: 100%;
    background-color:blue;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}




