*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 1200px;
    
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
header{
    height: 100px;
    width: 100;
    background-color: orange;

}
.text{
    height: 200px;
    width: 200px;
    background-color: royalblue;
}




